# Session 8: Introduction to Classes

## Creation of a class

In [1]:
class MyClass:
    name='MBA-BA'

In [2]:
MyClass

__main__.MyClass

In [3]:
name

NameError: name 'name' is not defined

## Creating an object

In [4]:
secB=MyClass()

In [5]:
secB

In [6]:
secB.name

'MBA-BA'

In [7]:
# Another object

secA=MyClass()

In [8]:
secA

In [9]:
secA.name

'MBA-BA'

## Creating Student class

In [10]:
class Student:
    def __init__(self,name,rollno):
        self.name=name
        self.rollno=rollno

    def display_name(self):
        print('The name of the students is:',self.name)

    def display_rollno(self):
        print('The roll no of the student is:',self.rollno)

In [11]:
# Creating an object

stud1=Student()

TypeError: Student.__init__() missing 2 required positional arguments: 'name' and 'rollno'

In [12]:
stud1=Student('Ishaan',52)

In [13]:
stud1

In [14]:
name

NameError: name 'name' is not defined

In [15]:
self.name

NameError: name 'self' is not defined

In [16]:
stud1.name

'Ishaan'

In [17]:
stud1.rollno

52

In [18]:
stud1.display_name()

The name of the students is: Ishaan

In [19]:
stud1.display_rollno()

The roll no of the student is: 52

In [20]:
# Creating another object

stud2=Student('Shruti',30)

In [21]:
stud2

In [22]:
stud2.name

'Shruti'

In [23]:
stud2.rollno

30

In [24]:
stud2.display_name()

The name of the students is: Shruti

In [25]:
stud2.display_rollno()

The roll no of the student is: 30

In [26]:
if stud1.rollno>stud2.rollno:
    print('Hello')

Hello

## Creation of a Car class

In [27]:
class Car:
    def __init__(self,brand,model,year,color,price):
        self.brand=brand
        self.model=model
        self.year=year
        self.color=color
        self.price=price

    def display_features(self):
        print('The brand of the car is:',self.brand)
        print('The model of the car is:',self.model)
        print('The year of the car is:',self.year)
        print('The color of the car is:',self.color)
        print('The price of the car is:',self.price)

In [28]:
# Creating an object 
myCar=Car('BMW','M4',2024,'Blue',15000000)

In [29]:
myCar

In [30]:
myCar.brand

'BMW'

In [31]:
myCar.model

'M4'

In [32]:
myCar.year

2024

In [33]:
myCar.color

'Blue'

In [34]:
myCar.price

15000000

In [35]:
myCar.display_features()

The brand of the car is: BMW
The model of the car is: M4
The year of the car is: 2024
The color of the car is: Blue
The price of the car is: 15000000

## Create a Marklist class

In [36]:
class Marklist:
    def __init__(self,ica1_list,ica2_list,tee_list):
        self.ica1_list=ica1_list
        self.ica2_list=ica2_list
        self.tee_list=tee_list

    def ica1_avg(self):
        avg1=sum(self.ica1_list)/len(self.ica1_list)
        print('The ICA - 1 average is:', avg1)

    def ica2_avg(self):
        avg2=sum(self.ica2_list)/len(self.ica2_list)
        print('The ICA - 2 average is:', avg2)

    def tee_avg(self):
        avg3=sum(self.tee_list)/len(self.tee_list)
        print('The TEE average is:', avg3)

In [38]:
# Creating an object

m1=Marklist([12,14,10,11,13,14],
            [13,14,15,11,10,9],
            [16,18,14,19,15,20])

In [39]:
m1.ica1_list

[12, 14, 10, 11, 13, 14]

In [40]:
m1.ica2_list

[13, 14, 15, 11, 10, 9]

In [41]:
m1.tee_list

[16, 18, 14, 19, 15, 20]

In [42]:
m1.ica1_avg()

The ICA - 1 average is: 12.333333333333334

In [43]:
m1.ica2_avg()

The ICA - 2 average is: 12.0

In [44]:
m1.tee_avg()

The TEE average is: 17.0

## Inheritance

In [45]:
class Parent: # super class
    def __init__(self,surname,wealth):
        self.name=surname
        self.wealth=wealth

    def display_name(self):
        print('The surname is :',self.name)

    def display_wealth(self):
        print('The wealth is :',self.wealth)

In [46]:
# Creating a sub class

class Child(Parent):
    pass

In [47]:
# Creating an object of the sub class

c1=Child()

TypeError: Parent.__init__() missing 2 required positional arguments: 'surname' and 'wealth'

In [48]:
c1=Child('Jain',3000000)

In [49]:
c1.name

'Jain'

In [50]:
c1.wealth

3000000

In [51]:
c1.display_name()

The surname is : Jain

In [52]:
c1.display_wealth()

The wealth is : 3000000

## Sub class with attribute

In [53]:
class Kid(Parent):
    def __init__(self,earned):
        self.earned=earned
    def display_earned(self):
        print('The earned wealth is:',self.earned)

In [54]:
# Creating an object

k1=Kid()

TypeError: Kid.__init__() missing 1 required positional argument: 'earned'

In [55]:
k1=Kid(500000)

In [56]:
k1.earned

500000

In [57]:
k1.display_earned()

The earned wealth is: 500000

In [58]:
k1.name

AttributeError: 'Kid' object has no attribute 'name'

In [59]:
k1.wealth

AttributeError: 'Kid' object has no attribute 'wealth'

## Using super()

In [60]:
class Kid(Parent):
    def __init__(self,surname,wealth,earned):
        super().__init__(surname,wealth)
        self.earned=earned
    def display_earned(self):
        print('The earned wealth is:',self.earned)

In [61]:
k2=Kid('Jain',5000000,25000)

In [62]:
k2.name

'Jain'

In [63]:
k2.wealth

5000000

In [64]:
k2.earned

25000

In [65]:
k2.display_name()

The surname is : Jain

In [66]:
k2.display_wealth()

The wealth is : 5000000

In [67]:
k2.display_earned()

The earned wealth is: 25000