# Session 6: Introduction to Functions

## Defining a function

In [1]:
def hello():
    print('Hello')
    print('Good morning')

## Calling a function

In [2]:
hello()

Hello
Good morning

## Function with an argument

In [3]:
def hello(name): # argument
    print('Hello,',name)
    print('Good morning')

In [4]:
# Calling
hello()

TypeError: hello() missing 1 required positional argument: 'name'

In [5]:
hello('Soham')

Hello, Soham
Good morning

In [6]:
hello('Khushi')

Hello, Khushi
Good morning

In [7]:
# Define a fucntion with a string argument
# and display the no of characters in that string.

def len_string(string):
    print('The string is:',string)
    print('The length of the string is:', len(string))

In [8]:
# Calling
len_string('Today is Wednesday and thank God, tomorrow is a holiday')

The string is: Today is Wednesday and thank God, tomorrow is a holiday
The length of the string is: 55

In [9]:
# Update the fn to provide the words in the string

def update_len_string(string):
    print('The string is:',string)
    print('The length of the string is:', len(string))
    print('The list of words in the string:',string.split())

In [10]:
# Calling
update_len_string('Today is Wednesday and thank God, tomorrow is a holiday')

The string is: Today is Wednesday and thank God, tomorrow is a holiday
The length of the string is: 55
The list of words in the string: ['Today', 'is', 'Wednesday', 'and', 'thank', 'God,', 'tomorrow', 'is', 'a', 'holiday']

## Function with 2 arguments

In [11]:
def calculate(n1,n2):
    print('Sum of nos:',n1+n2)

In [12]:
# Calling
calculate(100,50)

Sum of nos: 150

In [13]:
calculate(10,25)

Sum of nos: 35

In [14]:
calculate(100,'Soham')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
calculate(100)

TypeError: calculate() missing 1 required positional argument: 'n2'

## Function with positional argument

In [16]:
def stud_details(name,rollno):
    print('The name is:', name)
    print('The rollno is:',rollno)

In [17]:
stud_details('Soham',59)

The name is: Soham
The rollno is: 59

In [18]:
stud_details(59,'Soham')

The name is: 59
The rollno is: Soham

## Function with keyord argument

In [19]:
def stud_details(name,rollno):
    print('The name is:', name)
    print('The rollno is:',rollno)

In [20]:
stud_details(rollno=65,name='Soham')

The name is: Soham
The rollno is: 65

In [21]:
stud_details(name='Soham',rollno=65)

The name is: Soham
The rollno is: 65

In [22]:
stud_details('Soham',65)

The name is: Soham
The rollno is: 65

## Function with default arguments

In [25]:
def stud_details(name,rollno=0): # default
    print('The name is:', name)
    print('The rollno is:',rollno)

In [26]:
stud_details('Soham')

The name is: Soham
The rollno is: 0

In [27]:
stud_details('Soham',65)

The name is: Soham
The rollno is: 65

## Function with unknown number of arguments

In [32]:
def myCity(*city): # unknown no of arguments
    print('The city:',city)

In [33]:
myCity('Mumbai')

The city: ('Mumbai',)

In [34]:
myCity('Delhi')

The city: ('Delhi',)

In [35]:
myCity('Mumbai','Delhi')

The city: ('Mumbai', 'Delhi')

In [36]:
myCity('Mumbai', 'Delhi','Pune')

The city: ('Mumbai', 'Delhi', 'Pune')

In [37]:
# *- unknown of arguments
# *args - usual convention

## Function with unknown no of keyword arguments

In [41]:
def myCity(**city): 
    print('The city:',city)

In [42]:
myCity(city='Mumbai')

The city: {'city': 'Mumbai'}

In [43]:
myCity(city1='Pune',city2='Mumbai')

The city: {'city1': 'Pune', 'city2': 'Mumbai'}

In [44]:
myCity(c1='Pune',c2='Mumbai',c3='Delhi')

The city: {'c1': 'Pune', 'c2': 'Mumbai', 'c3': 'Delhi'}

In [47]:
def myCity(**c): 
    print('The city:',c)

In [48]:
myCity(c1='Pune',c2='Mumbai',c3='Delhi')

The city: {'c1': 'Pune', 'c2': 'Mumbai', 'c3': 'Delhi'}

In [52]:
def myCity(**P): 
    print('The city:',P)

In [53]:
myCity(c1='Pune',c2='Mumbai',c3='Delhi')

The city: {'c1': 'Pune', 'c2': 'Mumbai', 'c3': 'Delhi'}

In [ ]:
# **kwargs - unknown of no of keyword args

## Function which returns a value

In [54]:
def add(n1,n2):
    summation=n1+n2
    return summation

In [56]:
num1=int(input('Supply a no:'))
num2=int(input('Supply another no:'))
print('Sum of the nos:',add(num1,num2))

Supply a no: 25
Supply another no: 10

Sum of the nos: 35

In [57]:
# Define functions: add(),sub(), prod(), div(),quot(),
# and rem(), each with 2 args. 

def add(n1,n2):
    return(n1+n2)

def sub(n1,n2):
    return(n1-n2)

def prod(n1,n2):
    return(n1*n2)

def div(n1,n2):
    return(n1/n2)

def quot(n1,n2):
    return(n1//n2)

def rem(n1,n2):
    return(n1%n2)

In [58]:
num1=int(input('Supply a no:'))
num2=int(input('Supply another no:'))
print('The sum:',add(num1,num2))
print('The sub:',sub(num1,num2))
print('The prod:',prod(num1,num2))
print('The div:',div(num1,num2))
print('The quot:',quot(num1,num2))
print('The ramainder:',rem(num1,num2))

Supply a no: 35
Supply another no: 4

The sum: 39
The sub: 31
The prod: 140
The div: 8.75
The quot: 8
The ramainder: 3

In [59]:
string1="Today is Wednesday and thank God tomorrow is a holiday"

In [60]:
string2= "Today is Wednesday and tomorrow is Thursday"

In [61]:
def common_words(s1,s2):
    print('The first string:',s1)
    s1_words=s1.split()
    print('The list of words in s1:',s1_words)
    print('The second string:',s2)
    s2_words=s2.split()
    print('The list of words in s2:',s2_words)

    common_list=[]
    for word in s1_words:
        if word in s2_words:
            common_list.append(word)
    print('The common words:', common_list)

In [62]:
common_words(string1, string2)

The first string: Today is Wednesday and thank God tomorrow is a holiday
The list of words in s1: ['Today', 'is', 'Wednesday', 'and', 'thank', 'God', 'tomorrow', 'is', 'a', 'holiday']
The second string: Today is Wednesday and tomorrow is Thursday
The list of words in s2: ['Today', 'is', 'Wednesday', 'and', 'tomorrow', 'is', 'Thursday']
The common words: ['Today', 'is', 'Wednesday', 'and', 'tomorrow', 'is']